*.pyc
*.pyo
__pycache__/
*.sqlite3
.env
.venv/
env/
venv/
ENV/
*.log
*.pot
*.py[cod]
*.so
*.mo
*.swp
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.pyc
*.pyo
*.pyd
*.dll
*.bin
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
/media/
/staticfiles/
**/migrations/*.py
!**/migrations/__init__.py
